[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/smichard/KeepIt
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
