/** Post **/

.post-warp {
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding-top: 2rem;

  .post-header h1 {
    margin: 0 !important;
  }

  .post-title {
    font-size: 2em;
    line-height: 1.5em;
  }

  .post-meta {
    color: rgba(85, 85, 85, 0.52941) !important;

    .dark-theme & {
      color: $dark-font-secondary-color !important;
    }

    a {
      color: $light-post-link-color;

      .dark-theme & {
        color: $dark-post-link-color;
      }

      &:hover {
        color: $light-post-link-hover-color;

        .dark-theme & {
          color: $dark-post-link-hover-color;
        }
      }
    }
  }

  .post-content {
    padding-top: 2rem;

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 0.8em;
      padding-bottom: 0.3em;
    }

    h2::before {
      content: "";
      margin-right: 5px;
      color: $light-post-link-color;

      .dark-theme & {
        color: $dark-post-link-color;
      }
    }

    h3::before {
      content: "";
      margin-right: 5px;
      color: $light-post-link-color;

      .dark-theme & {
        color: $dark-post-link-color;
      }
    }

    a {
      color: $light-post-link-color;

      .dark-theme & {
        color: $dark-post-link-color;
      }
    }

    a:hover {
      color: $light-post-link-hover-color;

      .dark-theme &:hover {
        color: $dark-post-link-hover-color;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    code,
    pre {
      font-family: Consolas, Monaco, Menlo, Consolas, monospace;
      word-break: break-all;
      word-wrap: break-word;
      overflow:auto;
    }

    ul {
      padding-left: 2em;
    }

    table {
      max-width: 100%;
      margin: 10px 0;
      border-spacing: 0;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);

      th,
      td {
        padding: 5px 15px;
        border: 1px double #ebe9f5;
      }
    }

    figure {
      text-align: center;

      img:hover {
        cursor: zoom-in;
      }
    }

    .image-caption:not(:empty) {
      min-width: 20%;
      max-width: 80%;
      display: inline-block;
      padding: 10px;
      margin: 0 auto;
      border-bottom: 1px solid #d9d9d9;
      font-size: 14px;
      color: #969696;
      line-height: 1.7;
    }

    img {
      display: block;
      max-width: 80%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
    }

    img[data-action="zoom"] {
      cursor: zoom-in;
    }

    .featured_image {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
      margin: 0 !important;
    }
  }

  p {
    font-size: 1em;
    margin: 0.5em 0 0.5em 0;
  }

  .post-copyright {
    margin-top: 5rem;
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;

    .copyright-item {
      margin: 5px 0;
    }

    .dark-theme {
      border-top: 1px solid $dark-border-color;
      border-bottom: 1px solid $dark-border-color;
    }
  }

  .post-tags {
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
  }

  .post-nav {

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    & a.prev,
    & a.next {
      font-weight: 600;
      font-size: 16px;

      transition-property: transform;
      transition-timing-function: ease-out;
      transition-duration: 0.3s;
    }

    & a.prev {
      float: left;
    }

    & a.prev:hover {
      transform: translateX(-4px);
    }

    & a.next {
      float: right;
    }

    & a.next:hover {
      transform: translateX(4px);
    }
  }

  .tag:not(:last-child) a::after {
    content: " / ";
  }

  .post-comment {
    padding: 3em 0;
  }
}

/* ft-adjustment

  The styles below are of the Table of Content (ToC).
  There are 2 ToCs:
    1. side ToC - visible on large screens
    2. collapsible ToC - visible on small screens

*/

/***** 1. Begin side ToC CSS *****/

/*
  - Following styles are for displaying the ToC on right side (meant for large screens).
  - ToC is shown on screens having min-width of 1024px
*/

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  main.single__main {
    display: grid;
    grid-template-columns: 100% $side-toc-width;
    width: $post-content-width;

    &>aside {
      &.tableOfContentContainer {
        position: -webkit-sticky;
        position: sticky;
        top: 79px;
        align-self: start;
      }

      &>h3 {
        font-weight: 700;
        padding: 1rem 0 .5rem .5rem;
      }
    }
  }

  #TableOfContents {
    display: block;
    padding-left: $padding-from-left-border;
    padding-bottom: 1rem;
    font-size: 1rem;
    border-left: $left-border-type $left-border-thickness $left-border-color;

    li {
      padding-top: 0.25rem;
      list-style: none;
      font-size: 1em;

      &.active {
        padding-left: 0;

        &:before {
          display: inline-block;
          margin-left: -20px;
          width: 20px;
        }

        &>a {
          color: $dark-side-toc-link-active-color;
          font-weight: 500;
        }
      }

      ul {
        li {
          margin-left: 1rem;
        }
      }
    }

    a {
      text-decoration: none;
      padding: 0.125rem 0;
      color: $dark-side-toc-links-color;
      -webkit-transition: all 50ms ease-in-out;
      transition: all 50ms ease-in-out;
    }
  }

  #TableOfContents a:hover,
  #TableOfContents a:focus,
  #TableOfContents a:active {
    color: $dark-side-toc-link-hover-color;
  }
}

#TableOfContents::-webkit-scrollbar {
  width: .3rem;
  border-radius: 10px;
}


/***** 1. End side ToC CSS *****/


/* ft-adjustment: collapsible ToC related styles */

/***** 2. Start collapsible ToC CSS *****/

#toc-static {
  display: none;
  margin: 0.8rem 0;

  @media only screen and (max-width: 1024px) {
    display: block;
  }
}

.expand {
  position: relative;
  margin: 1.5rem 0;
  border-radius: 0.25rem;

  svg {
    height: 1em;
    width: 1em;
    margin-right: 0em;
  }

  /* 2.1 Styles for the ToC header (always visible) */

  &__button {
    cursor: pointer;
    font-size: 1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    line-height: 2em;
    padding: 0.25rem 0.75rem;
    color: $dark-collapsible-toc-header-title;
    background: $dark-collapsible-toc-header-bg;
  }

  &-label {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &-icon {
    padding-top: 0.125rem;

    &__down {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition: all 0.15s ease;
      -moz-transition: all 0.15s ease;
      -ms-transition: all 0.15s ease;
      -o-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }

    &__right {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: all 0.15s ease;
      -moz-transition: all 0.15s ease;
      -ms-transition: all 0.15s ease;
      -o-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }
  }

  /* 2.2 Styles for the ToC body */

  &__content {
    padding: 0 1.125rem;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: $dark-collapsible-toc-body-bg;
    border-radius: 0em 0em 0.3em 0.3em;

    ul {
      padding-left: 0 !important;
    }

    li {
      font-size: 15.2px;
      margin: 0 0 0.525rem 2rem;

      &:first-child {
        margin-top: 0.25rem;
      }

      li {
        font-size: 14.4px;
        margin: 0 0 0.25rem 1.25rem;
      }
    }

    &--toc {
      font-size: 15.2px;
    }

  }

}

#toc-static {
  li a{
    color: $dark-collapsible-toc-body-text;
  }
}
/* ft-adjustment: remove extra dots in collapsible ToC */

#TableOfContents>ul>li:nth-child(1)>ul>li:nth-child(2)>ul>li {
  list-style: none;
}

/***** 2. End collapsible ToC CSS *****/

/* ft-adjustment: download shortcode */

/***** 3. Start download shortcode CSS *****/

.download {
  display: inline-block;
  background-color: #1d4960;
  padding: .5rem .7rem;
  border-radius: .3rem;
}

/***** 3. End download shortcode CSS *****/

/***** 4. Start code copy button CSS *****/

.highlight {
  position: relative;
}

.highlight-copy-btn {
  cursor: pointer; 
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: .3rem;
  color: #fff;
  background-color: rgb(80, 79, 79);
  min-width: 55px;
  text-align: center;
}
.highlight-copy-btn:hover {
  background-color: #666;
}

/***** 4. End code copy button CSS *****/

/***** 5. Start collapsible code block CSS *****/

.collapsable-code {
  position: relative;
  width: 100%;
  margin: 40px 0;

  // hide the checkbox
  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }

  // 5.1 Styles for the code block header (always visible)
  label {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $header-background;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    cursor: pointer;
  }

  // 5.2 Styles for the code block body
  div.highlight{
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;

    pre {
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    div{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

  }

  input[type="checkbox"]:checked ~ div.highlight {
    max-height: 1000px;
  }

  input[type="checkbox"]:checked ~ label {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="checkbox"]:not(:checked) ~ label {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  input[type="checkbox"]:not(:checked) ~ div.highlight {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* code to change the triangle using data-label-expand and data-label-collapse attributes
    the span tag with class 'collapsable-code__toggle' inside the label tag is used to display the triangle
    this span tag has the data-label-expand and data-label-collapse attributes 
  */


  input[type="checkbox"]:checked ~ label span.collapsable-code__toggle:after {
    content: attr(data-label-expand);
    /* Explanation of this css block:
    when the checkbox is checked, the content of the span tag with
    class 'collapsable-code__toggle' inside the label tag is changed to the value of
    the data-label-collapse attribute
    Here check box is checked means the code block is expanded 
    */
  }

  input[type="checkbox"]:not(:checked) ~ label span.collapsable-code__toggle:after {
    content: attr(data-label-collapse);
  }

  &__title {
    color: $header-title-text;
    padding: 3px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__language {
    background: $code-language-bg;
    color: $code-language-text;
    border-radius: 10px;
    padding: 3px 10px;
  }

  &__toggle {
    color: var(--color);
    font-size: 16px;
    padding: 3px 10px;

    &:after {
      content: attr(data-label-collapse);
    }
  }

  div.highlight {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::first-line {
      line-height: 0;
    }
  }

  code {
    &::first-line {
      line-height: 0;
    }
  }

  .code-toolbar {
    margin: 0;
  }
}

/***** 5. End collapsible code block CSS *****/

/***** 6. Start standard code block CSS *****/

.highlight {

  table{
    tr pre {
      padding: 1.9rem .3rem;
    }
  }

  pre {
    padding: 1.9rem .9rem; /* ft-adjustment: add padding for all code blocks without line number */
  }

  div {
    overflow: auto; /* ft-adjustment: fix content overflow in small screens */
    border-radius: .5rem;
  }

}

/***** 6. End standard code block CSS *****/
