/** light theme **/

$light-background-color: #fff;

$light-font-color: #161209;
$light-font-secondary-color: #a9a9b3;

$light-navbar-active-color: #161209;

$light-global-link-color: #161209;
$light-global-link-hover-color:#2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color:#ef3982;

$light-pagination-link-color : #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;



/** dark theme **/

$dark-background-color: #002538;

$dark-font-color: #fff;
$dark-font-secondary-color: #fff;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #fff;
$dark-global-link-hover-color: #1DA1F2;

$dark-post-link-color: #eee;
$dark-post-link-hover-color: #1DA1F2;

$dark-pagination-link-color : #002538;
$dark-pagination-link-active-color: #1DA1F2;

$dark-border-color: #4a4b50;


/* ft-adjustment: colors for side ToC */

$dark-side-toc-heading-color: #002538;
$dark-side-toc-links-color: white;
$dark-side-toc-link-active-color: #6eb5e0;
$dark-side-toc-link-hover-color: #1DA1F2;

/* ft-adjustment: controls for spacing of side ToC */

$side-toc-width: 13rem;
$post-content-width: 75%;

/* ft-adjustment: controls for side ToC border */

$padding-from-left-border: 1rem;
$left-border-type: solid;
$left-border-color: white;
$left-border-thickness: 2px;

/* ft-adjustment: colors for collapsible ToC

The collapsible ToC has 2 parts: the header and the body
The header is shown by default but the body is shown only when the header is clicked (expanded)

In the following lines 'bg' refers to background

*/

$dark-collapsible-toc-header-title: white;
$dark-collapsible-toc-header-bg: #051315;
$dark-collapsible-toc-body-text: white;
$dark-collapsible-toc-body-bg: #115679;



$var1: #152b48;
$var2: #c2c4c7;
$var3: #3a4758;
$var4: #bec0be;
$var5: #a9a9b3;
$var6: #526176;