/** light theme **/

$light-background-color: #fff;

$light-font-color: #161209;
$light-font-secondary-color: #a9a9b3;

$light-navbar-active-color: #161209;

$light-global-link-color: #161209;
$light-global-link-hover-color:#2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color:#ef3982;

$light-pagination-link-color : #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;



/** dark theme **/

$dark-background-color: #282a36;

$dark-font-color: #fff;
$dark-font-secondary-color: #fff;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #fff;
$dark-global-link-hover-color: #1DA1F2;

$dark-post-link-color: #eee;
$dark-post-link-hover-color: #1DA1F2;

$dark-pagination-link-color : #98a6ad;
$dark-pagination-link-active-color: #1DA1F2;

$dark-border-color: #4a4b50;