{{ define "content" }}
<div class="post-warp archive">
    <h2 class="post-title">{{ humanize .Title }}</h2>
    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
    <h2 class="archive-year">{{ .Key }}</h2>

    {{ range .Pages }}
    <article class="archive-item">
        <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
        <span class="archive-item-date">
            {{ .Date.Format (.Site.Params.dateFormatToUse | default "2 January 2006") }}
        </span>
    </article>
    {{ end }} {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}
