h1.post-title,
h1, h2, h3 {
	color: #1DA1F2;
}

h2.description {
	color: #FFF;
	font-size: 2.4em;
}

h3.tagline {
	color: #FFF;
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: 25px;
	display: inline-block;

	 /*animation for tagline */
	width: 27ch;
	animation: typing 3s steps(27), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
}

 /*animation for tagline */
@keyframes typing {
	from {
	  width: 0
	}
  }

 /*animation for tagline */
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }


/* Navbar */
.navbar {
	font-size: 14pt;
}

/* Tags Page */
a.custom-cloud-links {
	color: #FFF;
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
}

a.custom-cloud-links:hover {
	color: #1DA1F2;
	border:1px solid #1DA1F2;
	border-radius: 10px;
}

/* Posts Page*/
/* Text on Posts page*/
.archive-item {
	font-size: 14pt;
}

/* Tags below Post */
.post-warp {
    .tag:not(:last-child) a::after {
        content: " - ";
    }
}

/* Text Size in General*/
.post-warp p {
	font-size: 1.2em;
	text-align: justify;
}

li {
	font-size: 1.2em;
}

/* figcaption */
figcaption {
	color: white;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 2em;
}

/* calendly link*/
a.custom-calendly {
	font-size: 1.1em;
	font-weight: 400;
    line-height: 2em;
}

/* download link positioning */
.wrapper_download_left{

}

.wrapper_download_center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* code blocks */
.prettyprint {
	/* background: #69696A;*/
	/* background: #0d3042 0f4058;*/
	background: #115679;
}

.dark-theme .post-warp .post-content code:not([class]):not([class]) {
	box-shadow: none;
	border: none;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
	color: #FFF;
	list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
	background: #115679;
}

.post-warp .post-content code,
.post-warp .post-content pre {
	border-radius: 10px;
}

/* code tags */
.pln,
.tag,
.atn,
.atv,
.dec,
.com,
.str,
.typ,
.lit,
.kwd,
.pun,
{
	color: #FFF;
}