<footer class="site-footer">
  <div class="container">
    <div class="copyright">
      &copy;
      {{ if .Site.Params.since }}
      <span itemprop="copyrightYear">{{ .Site.Params.since }}&ndash;{{ now.Format "2006" }}</span>
      {{ else }}
      <span itemprop="copyrightYear">{{ now.Format "2006" }}</span>
      {{ end }}
      {{ with .Site.Params.author }}
      <a href="{{ $.Site.BaseURL }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="social-links">
      {{ partial "social.html" . }}
    </div>
  </div>
</footer>

{{ partial "js.html" . }}
