{{- $seo := partial "seo_values.html" . -}}
{{- $personID := printf "%s#person" .Site.BaseURL -}}
{{- $sameAs := slice -}}
{{- with .Site.Params.social.Linkedin -}}{{- $sameAs = $sameAs | append (printf "https://www.linkedin.com/in/%s" .) -}}{{- end -}}
{{- with .Site.Params.social.GitHub -}}{{- $sameAs = $sameAs | append (printf "https://github.com/%s" .) -}}{{- end -}}
{{- with .Site.Params.social.Instagram -}}{{- $sameAs = $sameAs | append (printf "https://www.instagram.com/%s/" .) -}}{{- end -}}

{{- $person := dict
  "@type" "Person"
  "@id" $personID
  "name" .Site.Params.author
  "url" .Site.BaseURL
  "sameAs" $sameAs
-}}

{{- $entity := dict
  "@type" "WebPage"
  "@id" .Permalink
  "url" .Permalink
  "name" $seo.title
  "description" $seo.description
  "author" (dict "@id" $personID)
-}}

{{- if .IsHome -}}
  {{- $entity = dict
    "@type" "WebSite"
    "@id" (printf "%s#website" .Site.BaseURL)
    "url" .Site.BaseURL
    "name" .Site.Title
    "description" $seo.description
    "author" (dict "@id" $personID)
    "image" $seo.imageURL
  -}}
{{- else if and .IsPage (eq .Type "posts") -}}
  {{- $entity = dict
    "@type" "BlogPosting"
    "@id" (printf "%s#article" .Permalink)
    "headline" .Title
    "description" $seo.description
    "url" .Permalink
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "datePublished" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "wordCount" .WordCount
    "keywords" (.Params.tags | default slice)
    "image" (dict
      "@type" "ImageObject"
      "url" $seo.imageURL
      "width" $seo.imageWidth
      "height" $seo.imageHeight
    )
    "author" (dict "@id" $personID)
    "publisher" (dict "@id" $personID)
  -}}
{{- end -}}

{{- $schema := dict
  "@context" "https://schema.org"
  "@graph" (slice $entity $person)
-}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
