{{ with .Site.Params.social.Linkedin }}
<a href="https://linkedin.com/in/{{ . }}" target="_blank" rel="me noopener noreferrer" aria-label="LinkedIn">{{ partial "icons.html" "linkedin" }}</a>
{{ end }}
{{ with .Site.Params.social.GitHub }}
<a href="https://github.com/{{ . }}" target="_blank" rel="me noopener noreferrer" aria-label="GitHub">{{ partial "icons.html" "github" }}</a>
{{ end }}
{{ with .Site.Params.social.Instagram }}
<a href="https://www.instagram.com/{{ . }}/" target="_blank" rel="me noopener noreferrer" aria-label="Instagram">{{ partial "icons.html" "instagram" }}</a>
{{ end }}
{{ with .Site.Params.social.Feedly }}
<a href="{{ . }}" target="_blank" rel="me noopener noreferrer" aria-label="Feedly">{{ partial "icons.html" "feedly" }}</a>
{{ end }}
{{ with .Site.Params.social.Substack }}
<a href="{{ . }}" target="_blank" rel="me noopener noreferrer" aria-label="Substack">{{ partial "icons.html" "substack" }}</a>
{{ end }}
{{ with .Site.Params.social.matrix }}
<a href="https://matrix.to/#/{{ . }}" target="_blank" rel="me noopener noreferrer" aria-label="Matrix">{{ partial "icons.html" "matrix" }}</a>
{{ end }}
{{ with .Site.Params.social.Email }}
<a href="mailto:{{ . }}" rel="me noopener noreferrer" aria-label="Email">{{ partial "icons.html" "email" }}</a>
{{ end }}
